header {
    .navbar-collapse {
        top: 98%;
        left: 0;
        z-index: 99;
        background-color: $bg-menu;

        .navbar-nav {
            @extend .next-image;
            .nav-link {
                color: $white !important;
                font: {
                    size: 12px;
                }

                &:hover {
                    font-weight: 800;
                }
            }

            @media (min-width: 992px) {
                flex-wrap: wrap;
                flex-direction: row;

                .nav-link {
                    width: 25%;
                    text-align: center;
                }
            }
        }

        hr {
            width: 90%;
            border: {
                top: none;
                bottom: 2px solid #00000012;
            }
        }
    }
    .navbar-toggler {
        &:focus {
            outline: none;
        }
    }
}
