.login {
    .posts-card {
        max-height: 800px;
        height: 750px;
        .h5 {
            font-size: 43px;
        }

        .card-text {
            font-size: 14px;
        }
    }

    &-forms {
        width: 75%;

        h1 {
            font-size: 28px;
        }

        p,
        .label-checkbox span {
            font-size: 12px;
        }

        // .MuiFormLabel-root.Mui-focused {
        //     color: rgba(0, 0, 0, 0.54);
        // }

        // .MuiInputBase-root,
        // .MuiFormControl-root {
        //     background-color: #f4f4f4;
        //     text-align: center;

        //     .MuiIconButton-root {
        //         margin-top: -14px;
        //     }
        // }

        // .label {
        //     z-index: 1;
        //     margin-top: -8px;
        //     margin-left: 11px;
        // }

        // .MuiFilledInput-underline,
        // .MuiInput-underline {
        //     &:before {
        //         border-bottom: 3px solid #cecece !important;
        //     }
        //     &:after {
        //         border-bottom: 3px solid $bg-menu !important;
        //     }
        // }

        // .MuiButton-contained {
        //     background-color: $bg-menu;
        //     color: $white;
        //     font: {
        //         size: 11px;
        //         weight: 800;
        //     }
        //     padding: 15px !important;
        //     border-radius: 0;
        // }

        .reset-pass {
            color: $black;
            text-transform: none;
            font: {
                size: 11px;
                weight: 500;
            }
        }

        a:hover {
            text-decoration: none;
        }

        @media (max-width: 992px) {
            width: 90%;
            padding: {
                top: 7rem;
                bottom: 6rem;
            }
        }

        &-register {
            // padding-bottom: rem;
        }

        .form-group {
            display: flex;
            flex-flow: column-reverse;
            margin-bottom: 2em;
            transition: 0.3s all;
            margin-top: -7px;

            label,
            .form-control {
                transition: all 0.2s;
                touch-action: manipulation;
                color: #a9a9a9;
            }

            label {
                text-transform: uppercase;
                font-size: 10px;
                // position: absolute;
            }

            textarea {
                height: 100% !important;
            }

            .form-control {
                border: 1px solid #c7c7c7ab;
                -webkit-appearance: none;
                border-radius: 0;
                padding: 0;
                cursor: text;
                font-size: 16px;
                z-index: 1;
                background: none;
                height: 55px;
                position: relative;

                padding : {
                    left: 20px;
                    top: 10px;
                    bottom: 10px;
                }
               transition: background-color 200ms cubic-bezier(0.0, 0, 0.2, 1) 0ms;
               background: #f4f4f4;
               border-bottom: 3px solid rgb(206 206 206) !important;
               border: 0;

                &:focus {
                    outline: 0;
                    border-bottom: 3px solid $bg-menu !important;
                    outline: none;
                    box-shadow: none;

                    &:-webkit-input-placeholder {
                        opacity: 1;
                    }
                }

                &:placeholder-shown+label {
                    cursor: text;
                    max-width: 20%;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    transform-origin: left top;
                    transform: translate(0, 2.125rem) scale(1.5);
                    padding-left: 16px;
                    z-index: 1;
                }

                &::-webkit-input-placeholder {
                    opacity: 1;
                    transition: inherit;
                }

                &:not(:placeholder-shown)+label,
                &:focus+label {
                    transform: translate(0, 0) scale(1);
                    cursor: pointer;
                    color: $bg-menu;
                    z-index: 2;
                    font-size: 12px;
                    top: 16px;
                    padding:{
                        left: 14px;
                        right: 14px;
                    }
                    position: relative;
                    width: auto;
                    left: 16px;
                }

                &.is-invalid {
                    border-color: red !important;
                    color: red;

                    &:not(:placeholder-shown)+label,
                    &:focus+label {
                        color: red;
                    }

                    &:-webkit-input-placeholder {
                        opacity: 1;
                        color: red;
                    }
                }
            }
        }
    }

    .btn-success{
        background: $bg-menu;
        border: none;
        border-radius: 0;
        padding:{
            top: 13px !important;
            bottom: 13px !important;
        }
        font:{
            size: 12px;
            weight: 700;
        }
    }
}
