.posts {
    &-card {
        background: {
            position: 50%;
            repeat: no-repeat;
            size: cover;
        }
        height: 100%;

        .card {
            &-body {
                background: #0000008f;
                height: 100%;

                &-content {
                    bottom: 36px;
                    color: $white;

                    .nav {
                        &-link {
                            font-size: 10px;
                            color: $white;

                            .icons {
                                width: 15px;
                            }
                        }
                    }
                }
            }

            &-text {
                font-size: 11px;
                p{
                    font-size: 11px;
                }
            }
        }

        &-one {
            height: 500px;
        }

        &-two {
            height: 242px;
        }
    }

    &-list {
        h1 {
            color: $black;
        }
        p {
            font-size: 22px;
        }
        .posts-card {
            background-color: $bg-card;

            .h5 {
                font-size: 18px;
                cursor: pointer;

                a{
                    color: $black;
                    text-decoration: none;
                }
            }

            .nav-link {
                font-size: 12px;
                color: $black;
            }
        }
    }

    &-intern {
        .hr {
            width: 35%;
            hr {
                border: {
                    top: none;
                    bottom: 2px solid #ededed;
                }
            }
        }

        &-text {
            font-size: 14px;
        }

        &-comments {
            p {
                font: {
                    size: 22px;
                    weight: 300;
                }
            }

            .MuiAvatar-root {
                width: 62px !important;
                height: 62px;
            }

            .form-control {
                outline: none;

                &:focus {
                    outline: none;
                    box-shadow: none;
                    border-color: $black;
                }
            }

            button[type="submit"] {
                right: 15px;
                margin-top: 22px;
                background-color: $bg-menu;
                font-size: 14px;
            }

            .posts-card {
                height: auto;

                .card-text {
                    font: {
                        size: 13px;
                        weight: 400;
                    }
                }
            }
        }
    }

    &-form{
        label{
            font:{
                size: 12px;
                weight: 600;
            }
        }
        .form-control{
            height: 45px;
            &:focus{
                outline: none;
            }
        }
    }
}
